@import "tailwindcss";

body {
    font-family: "Be Vietnam Pro", sans-serif;
    overflow-x: hidden;
}

.drag-none {
    -webkit-user-drag: none;
}

.box {
    background-color: rgba(37, 57, 0, 0.1);
}

.box-pengaduk {
    background-color: rgba(37, 57, 0, 0.25);
}

.col-login-button {
        background-color: rgba(229, 218, 198, 0.5);
}

.col-button {
    background-color: #587883;
}


.back-img {
    background-image: url('../src/assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}