name: Firebase Mirror Sensor

on:
  schedule:
    - cron: "*/30 * * * *"   # setiap 30 menit
  workflow_dispatch:

jobs:
  run-sensor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Restore serviceAccountKey.json
        env:
          GOOGLE_SERVICE_KEY: ${{ secrets.GOOGLE_SERVICE_KEY }}
        run: |
          echo "$GOOGLE_SERVICE_KEY" > serviceAccountKey.json

      - name: Run sensor mirror
        run: node sensor_mirror.cjs
