name: IoT PH Notification

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install

      - name: Run PH Notifier
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_KEY }}
        run: node scripts/sendNotificationpH.js
