name: IoT Notification Checker

on:
  schedule:
    - cron: "*/5 * * * *"   # tiap 5 menit
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run notifier
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_KEY }}
        run: node scripts/sendNotification.js
